.item {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item-right i{
  margin: 0 5px;
  font-size: 18px;
  color: #ff8882;
}
.container {
  margin-top: 50px;
}
.newTask {
  border: 1px solid black;
  padding: 30px;
  height: 200px;
}
.btn-add, .btn-edit, .btn-del {
  background-color: #ff8882;
  color: #fff;
  border: 0px solid #ff8882;
  padding: 5px 10px;
  outline: none;
}

.btn-edit {
  margin-left: 10px;
}
 table tr {
   text-align: center;
 }